body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2a5d75;
}
#contenedor{
    width: 70%;
    padding: 1em;
    border-bottom: 3px solid #fafa;
    border-right: 10px solid #FFF233;
    border-left: 10px solid #33BEFF;
    border-top: 3px solid #FF8533;
    text-align: center;
    margin: 0 auto;
    background-color: aliceblue;
}

#cabecera{
    background: #33ffd0;
    color: white;
    box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#footer{
    background: #110266;
    color: aliceblue;
    text-align:center;
    margin-top: -10px;
    margin-bottom: -15px;
}
#cabecera #logo{
    width:30px;
    vertical-align:middle}
